h1, h2, h3, h4, h5, p, a, button {
    font-family: $Comfortaa;
}

a, button {
    font-weight: $bold;
}

h1, h2, h3, h4, h5, p {
    font-weight: $regular;
}

h1 {
    font-size: $h1-size;
}
h2 {
    font-size: $h2-size;
}
h3 {
    font-size: $h3-size;
}
h4 {
    font-size: $h4-size;
}
h5 {
    font-size: $h5-size;
}
p {
    font-size: $p-size;
}
a {
    font-size: $a-size;
    text-decoration: none;
}