// footer
.footer {
    text-align: center;
    position: relative;
    top: -30px;
    background-color: $white;
    padding: 20px 0 0 0;
    z-index: 1;
    .footer__title {
        padding: 20px 0 20px 0;
    }
    &__img {
        color: $cobalt-dark;
        font-size: 60px;
        margin: 0px 30px 20px;
    }
   
}