header {
    padding: 200px 10px;

    .descripcion__text {
        .descripcion__text__uxui {
            color: $turquoise;
        }
        .descripcion__text__di {
            color: $violet;
        }
    }
}