//navbar

.navbar {
    background-color: $white;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 4;
    transition: all .3s ease-in-out;
}

.navbar .container {
    
}

.navbar__text-title--active {
    text-decoration: none;
    position: relative;
    font-size: $h4-size;
    width: 300px;
    left: -60px;
    top: 5px;
    color: $turquoise;
    transition: all .2s ease-in-out;

    &:hover {
        color: $turquoise;
    }
}

.navbar__text--inactive {
    text-decoration: none;
    padding-top: 10px;
    font-size: $h5-size;
    color: $dark;
    transition: all .2s ease-in-out;

    &:hover {
        color: $turquoise;
    }
}

.nav_scroll {
    background-color: $dark;
    transition: all .2s ease-in-out;
    
    .navbar__text--inactive {
        color: $white !important;
        &:hover {
            color: $turquoise !important;
        }
    }
    .navbar__text-title--active {
        left: 0;
        top: 10px;
        font-size: $h5-size;
        color: $white !important;
        &:hover {
            color: $turquoise !important;
        }
        
    }
}