h1, h2, h3, h4, h5 {
    margin-bottom: 3px;
}
.educacion__title, .experiencia__title, .proyectos__title, .conocimientos__title, .contactame__title, .footer__title {
    text-align: center;
    font-weight: 700;
    color: $dark;
    padding-bottom: 80px;
}

hr {
    border-bottom: 1px solid $gray;
    width: 100%;
}

.bg {
    background-color: $gray;
    transform: skewY(2deg);
    .content {
        transform: skewY(-2deg);
    }
}

.bg2 {
    background-color: $gray;
    transform: skewY(-2deg);
    .content {
        transform: skewY(2deg);
    }
}

.experiencia, .conocimientos, .bg, .bg2 {
    padding: 80px 0 100px;
}

.contactame {
    padding-bottom: 100px;
}

.educacion {

    .educacion__text {
        text-align: center;
    }

    .educacion__img {
        background-image: url(../images/utem.png);
    }
    .educacion__img2 {
        background-image: url(../images/Desafio_latam.svg);
    }
    .educacion__img, .educacion__img2 {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 100%;
        height: 70px;
        max-height: 100%;
    }
    @media only screen and (min-width: 992px) {
        .educacion__text {
            text-align: left;
            padding-left: 50px;
            margin: 0px;
                    
            &:last-of-type {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        .educacion__img, .educacion__img2 {
            height: 100%;
        }
        
    }
}

.experiencia {
    &__text {
        text-align: center;
        
        &:last-of-type {
            margin-bottom: 0px;
        }
    }

    .experiencia__img {
        background-image: url(../images/Proteinlab.svg);
    }
    .experiencia__img2 {
        background-image: url(../images/adario.png);
    }
    .experiencia__img3 {
        background-image: url(../images/utem.png);
    }
    .experiencia__img, .experiencia__img2, .experiencia__img3 {
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 70px;
        max-height: 100%;
    }

    @media only screen and (min-width: 992px) {
        .experiencia__text {
            padding-right: 50px;
            text-align: left;
        }
    }
}
.modal-1, .modal-2, .modal-3, .modal-4 {
    transition: all .4s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.modal {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    z-index: 20;
    transition: all .4s ease-in-out;

    .modal__conjunto {
        margin: auto;
    }

    .modal--overflow {
        background-color: $white;
        border-radius: 10px;
        overflow: hidden;
        margin: 10px;
        max-width: 600px;
        height: 85vh;
        padding-bottom: 30px;
        display: inline-block;
    }
    .modal__contenido {
        overflow: auto;
        height: 100%;
        padding: 30px;

        h2 {
            text-align: center;
        }

        h2, h4, p, img {
            width: 100%;
            margin-bottom: 15px;
        }
    }

    
    
}

.proyectos {   
    -webkit-tap-highlight-color: transparent; 
    label {
        cursor: pointer;
    }

    input {
        display: none;
    }

    &__ux {
        background-color: $turquoise;
        transition: all .5s ease-in-out;

        .title {
            padding-top: 100px;
            text-align: center;
            color: $white;
        }

        &:hover {
            filter: brightness(105%);
            transition: all .3s ease-in-out;
        }
    }

    &__di {
        background-color: $violet;
        transition: all .5s ease-in-out;
        background-image: url(../images/plint.svg);
        background-repeat: no-repeat;
        background-position-y: -100px;
        background-position-x: center;
        background-size: 60vh;

        .title {
            padding-top: 100px;
            text-align: center;
            color: $white;
        }

        &:hover {
            filter: brightness(110%);
            transition: all .3s ease-in-out;
        }
    } 
    
    @media only screen and (min-width: 992px) {
        .proyectos__di, .proyectos__ux {
            background-size: 80vh;
            background-position-y: -190px;
            background-position-x: center;
        }
    }

    .arrow__container {
        height: 80px;
        display: block;
        margin: 10px auto;


        .arrow1, .arrow2 {
            background-image: url(../images/arrow.svg);
            width: 40px;
            height: 30px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            margin: 0 auto;
        }
        .arrow1 {
            position: relative;
            top: 0px;
            opacity: 1;
            animation: arrow 1.5s infinite;  
            animation-timing-function: linear;          
        }

        
    }

    .proyectos__desplegable1, .proyectos__desplegable2 {
        height: 0;
        padding: 0;
        overflow: hidden;
        transition: height .8s ease-in-out;
        
    }

    #desplegable1:checked ~ .proyectos__desplegable1 {
        height: 600px;
        transition: height .8s ease-in-out;        
    }

    #desplegable2:checked ~ .proyectos__desplegable2 {
        height: 600px;
        transition: height .8s ease-in-out;
    }
    
    
    
    .proyectos__proyecto{
        float: right;
        overflow: hidden;
        width: 100%;
        height: 300px;
        background-color: $dark;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        transition: all 50s ease-in-out;
      

        &:hover {
            background-position: bottom;
            transition: filter 2s linear;
            transition: background-position 100s linear;    
        }

        .proyectos__descripcion {
            background: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
            float: right;
            width: 300px;
            height: 400px;
            text-align: right;
            padding: 60px 30px 0 90px;
            margin-top: -15px;

            h3, h5 {
                color: $white;
            }

            p {
                margin-bottom: 5px;
                color: $white;
            }
            
            a {
                cursor: pointer;
                display: inline-block;
                text-decoration: none;
                color: $turquoise;
                transition: all .2s ease-in-out;
                border: 2px solid $turquoise;
                border-radius: 5px;
                padding: 5px 7px;

                &:hover{
                    margin-right: 5px;
                    color: violet;
                    transition: all .2s ease-in-out;
                    border: 2px solid $violet;
                }
            }
            
        }
    }

    &__proyecto--bg1 {
        background-image: url(../images/gasconnect_thumb.png);
    }
    &__proyecto--bg2 {
        background-image: url(../images/radio_activa.png);
    }
    &__proyecto--bg3 {
        background-image: url(../images/gasconnect_thumb.png);
    }
    &__proyecto--bg4 {
        background-image: url(../images/radio_activa.png);
    }

  
}

.contactame {
    p {
        color: $dark;
        font-weight: 700;
        padding: 10px 10px 0;
    }
    .form, input, textarea {
        margin: 5px 0;
        width: 100%;
    }

    input {
        height: 30px;
    }

    textarea {
        max-width: 100%;
        min-width: 100%;
        height: 100px;
    }

    input, textarea {
        box-sizing: border-box;
        border: 1px solid $gray;
        box-shadow:  0px 0px 12px 0px $gray;
        color: $cobalt-dark;
        transition: all .2s ease-in-out;
        padding: 5px;
        background-color: $white;
        
        &:active {
            background-color: $white;
        }

        &:focus {     
            outline: none;    
            border: 1px solid $turquoise;
            box-shadow:  0px 0px 10px 0px $turquoise;
            transition: all .2s ease-in-out;
        } 
    }
    
}